<div>
<form action="{{ path('health_weightadd') }}" method="post">

{{ form_errors(form) }}

<div class="input-group">
	<div class="form-group">
	  {{ form_label(form.user, "User") }}
	  {{ form_errors(form.user) }}
	  {{ form_widget(form.user) }}
	</div>
	<div class="form-group">
	  {{ form_label(form.weightValue, "Weight") }}
	  {{ form_errors(form.weightValue) }}
	  {{ form_widget(form.weightValue) }}
	</div>
	<div class="form-group">
	  {{ form_label(form.dateRead, "Date") }}
	  {{ form_errors(form.dateRead) }}
	  {{ form_widget(form.dateRead) }}
	</div>
	{{ form_rest(form) }}

	<div>
	  <input type="submit" class="btn btn-primary" />
	</div>
</div>

</form>
</div>
