
{% extends "LljmHomeBundle::layout.html.twig" %}

{% block title %}
  Delete zone - {{ parent() }}
{% endblock %}

{% block lljm_home_body %}

  <h2>{{ 'Delete a zone' | trans }}</h2>

  <p>
    {{ 'Confirm you want to delete zone' | trans }} : {{ zone.zonename }}.
  </p>

  <form action="{{ path('home_zonedel', {'id': zone.id}) }}" method="post">
    <a href="{{ path('home_zone')}}" class="btn btn-default glyphicon glyphicon-chevron-left">
      Back
    </a>
    <input type="submit" value="Delete" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}