<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Smart House{% endblock %}</title>

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('css/epoch.min.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('bundles/lljmgeolocation/css/ol.css') }}" type="text/css" />

      <script type="text/javascript" src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>

    <!-- VSCP encryption/decryption -->
      <script type="text/javascript" src="{{ asset('bundles/lljmhome/js/aes-js-3.1.0/index.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/lljmhome/js/vscp.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/lljmhome/js/settings.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/lljmhome/js/vscpmd5.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/lljmhome/js/moment.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/lljmhome/js/Chart.js') }}"></script>

      <script type="text/javascript" src="{{ asset('bundles/lljmgeolocation/js/ol.js') }}"></script>

    <!-- VSCP widget library, dependend on the VSCP websocket base library and jCanvas -->
      <script type="text/javascript" src="{{ asset('bundles/lljmhome/js/vscpwidgets.js') }}"></script>

    <!-- jCanvas is a jQuery plugin that makes the HTML5 canvas easy to work with. -->
      <script type="text/javascript" src="{{ asset('bundles/lljmhome/js/jcanvas/20.1.4/jcanvas.js') }}"></script>

      <!-- D3 and Epoch JavaScript
      <script type="text/javascript" src="{{ asset('js/d3.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/epoch.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/canvasjs.min.js') }}"></script>
      ================================================== -->

    {% endblock %}

  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('lljm_home_homepage') }}"><span class="glyphicon glyphicon-home" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Housing' | trans }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown-header">{{ 'Settings' | trans }}</li>
                <li><a href="{{ path('home_house') }}">{{ 'House' | trans }}</a></li>
                <li><a href="{{ path('home_zone') }}">Zones</a></li>
                <li><a href="{{ path('home_subzone') }}">{{ 'Sub zones' | trans }}</a></li>
                <li><a href="{{ path('home_node') }}">{{ 'Nodes' | trans }}</a></li>
                <li><a href="{{ path('home_meter') }}">{{ 'Meters' | trans }}</a></li>
                <li class="divider"></li>
                {% endif %}
                <li class="dropdown-header">{{ 'Action' | trans }}</li>
                <li><a href="{{ path('home_action_light') }}">{{ 'Light' | trans }}</a></li>
                <li><a href="{{ path('home_action_heating') }}">{{ 'Heating' | trans }}</a></li>
                <li><a href="{{ path('home_action_ventilation') }}">{{ 'Ventilation' | trans }}</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">{{ 'Visualization' | trans }}</li>
                <li><a href="{{ path('home_tempvisual') }}">Temperature</a></li>
                <li><a href="{{ path('home_humidvisual') }}">{{ 'Humidity' | trans }}</a></li>
                <li><a href="{{ path('home_elecvisual') }}">{{ 'Electricity' | trans }}</a></li>
                <li><a href="{{ path('home_watervisual') }}">{{ 'Water' | trans }}</a></li>
                <li><a href="{{ path('home_gasvisual') }}">{{ 'Gas' | trans }}</a></li>
              </ul>
            </li>
            {% if is_granted('ROLE_USER') %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Tools' | trans }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('geolocation_index') }}">{{ 'Geolocation' | trans }}</a></li>
                <li><a href="{{ path('health_weight') }}">{{ 'Health - Weight' |trans }}</a></li>
                <li><a href="{{ path('health_height') }}">{{ 'Health - Height' | trans }}</a></li>
                <li><a href="{{ path('tasks') }}">{{ 'Tasks' | trans }}</a></li>
              </ul>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Admin' | trans }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('admin_user') }}">{{ 'Users' |trans }}</a></li>
              </ul>
            </li>
            {% endif %}
            <li><a href="{{ path('home_about') }}">{{ 'About' | trans }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" /> {{ app.user.firstname }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a class="glyphicon glyphicon-log-out" href="{{ path('fos_user_security_logout') }}"> {{ 'Logout' | trans }}</a></li>
                </ul>
            </li>
            {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" /> {{ 'Anonymous' | trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a class="glyphicon glyphicon-log-in" href="{{ path('fos_user_security_login') }}"> {{ 'Login' | trans }}</a></li>
                </ul>
            </li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book" /> {{ 'Language' | trans }} [{{ app.request.locale }}]<b class="caret"></b></a>
                <ul class="dropdown-menu">
                 <li><a href="{{ path('lljm_home_homepage', {'_locale':'en'}) }}">{{ 'English' | trans }}</a></li>
                  <li><a href="{{ path('lljm_home_homepage', {'_locale':'fr'}) }}">{{ 'French' | trans }}</a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

            <div class="container">

      <div class="row">
        <div id="content" class="span9">
          {% block body %}
          {% endblock %}
        </div>
      </div>

      <hr>

      <footer>
        <p><img src="{{ asset('bundles/lljmhome/images/gentoo-badge3.png') }}"></p>
      </footer>
    </div>

  {% block javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/core.js') }}"></script>

  {% endblock %}

  </body>
</html>