
{% extends "LljmHomeBundle::layout.html.twig" %}

{% block title %}
  Delete meter - {{ parent() }}
{% endblock %}

{% block lljm_home_body %}

  <h2>{{ 'Delete a meter' | trans }}</h2>

  <p>
    {{ 'Confirm you want to delete meter below' | trans }}:
    <br>
    - {{ meter.metername }}<br>
    - {{ meter.resource.resourcename }}<br>
    - {{ meter.unit.unitname }}<br>
  </p>

  <form action="{{ path('home_meterdel', {'id': meter.id}) }}" method="post">
    <a href="{{ path('home_meter')}}" class="btn btn-default glyphicon glyphicon-chevron-left">
      Back
    </a>
    <input type="submit" value="Delete" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}