{% extends "LljmTasksBundle::layout.html.twig" %}

{% block title %}
  Task Management - {{ parent() }}
{% endblock %}

{% block lljm_tasks_body %}

<h2>{{ 'Task Management' | trans }}</h2>

<div>
  <a class="btn btn-default btn-sm glyphicon glyphicon-plus" href="{{ path('tasks_taskadd') }}">
    {{ 'Add' | trans }}
  </a>
</div>

   <div style="width:100%;">
        <canvas id="ganttChart" height="150"></canvas>
    </div>

<script>
var ctx = document.getElementById("ganttChart").getContext('2d');

function getRandomColor() {
var letters = '0123456789ABCDEF'.split('');
var color = '#';
for (var i = 0; i < 6; i++ ) {
    color += letters[Math.floor(Math.random() * 16)];
}
return color;
}

var scatterChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
{% set ymax = '' %}
{% for taskrecord in taskrecords %}
            {

                label: '{{ taskrecord.taskdesc }}',
                backgroundColor: ['rgba(0, 0, 0, 0.1)'],
                borderColor: getRandomColor(),
                fill: false,
                borderWidth : 10,
                pointRadius : 0,
                data: [
                    {
                        x: '{{ taskrecord.dateStart | date("Y-m-d")}}',
                        y: {{ loop.revindex}}
                    }, {
                        x: '{{ taskrecord.dateEnd | date("Y-m-d")}}',
                        y: {{ loop.revindex}}
                    }
                ]
            },
{% set ymax = loop.length %}
{% endfor %}
            ]
        },
        options: {
            legend : {
                display : true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    position: 'bottom',
                    ticks : {
                        beginAtzero :false,
                        stepSize : 1
                    }
                }],
                yAxes : [{
                    scaleLabel : {
                        display : true
                    },
                    ticks : {
                        beginAtZero :true,
                        max : {{ ymax }} + 1,
                        stepSize : 1
                    }
                }]
            }
        }
    });
</script>
<div>


    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ 'Description' | trans }}</th>
            <th>{{ 'Start date' | trans }}</th>
            <th>{{ 'End date' | trans }}</th>
            <th>{{ 'Assignee' | trans }}</th>
            <th>{{ 'Completed' | trans }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
  {% for taskrecord in taskrecords %}
          <tr>
            <td>{{ taskrecord.taskdesc }}</td>
            <td>{{ taskrecord.dateStart | date("Y-m-d")}}</td>
            <td>{{ taskrecord.dateEnd | date("Y-m-d")}}</td>
            <td>{{ taskrecord.username }}</td>
            <td>{% if taskrecord.completed == true %} <span class="btn glyphicon glyphicon-check"> {% endif %}</td>
            <td>
              <a class="btn glyphicon glyphicon-pencil red" href="{{ path('tasks_taskedit', {'id': taskrecord.id}) }}">
              <a class="btn glyphicon glyphicon-trash red " href="{{ path('tasks_taskdel', {'id': taskrecord.id}) }}">
            </td>
          </tr>
  {% else %}
    <p>{{ 'No record in this table' | trans }}.</p>
  {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% endblock %}