{% extends "LljmHomeBundle::layout.html.twig" %}

{% block title %}
  Water visualization - {{ parent() }}
{% endblock %}

{% block lljm_home_body %}

  <h2>{{ 'Water visualization' | trans }}</h2>

<div class="btn-group" role="group" aria-label="...">

  <button type="button" class="btn btn-default" onclick="location.href = '{{ path('home_watervisual_day_detail') }}'">{{ 'Day detail' | trans }}</button>
  <button type="button" class="btn btn-default active">{{ 'Day' | trans }}</button>
  <button type="button" class="btn btn-default" onclick="location.href = '{{ path('home_watervisual_weekly') }}'">{{ 'Week' | trans }}</button>
  <button type="button" class="btn btn-default" onclick="location.href = '{{ path('home_watervisual_monthly') }}'">{{ 'Month' | trans }}</button>
</div>

<br>
<br>
<script type="text/javascript">

    function display() {

      dst = "{{ path(app.request.attributes.get('_route')) }}" + '/';
      dst += document.getElementById("datefrom").value + ',';
      dst += document.getElementById("dateto").value + ',';
      dst += document.getElementById("meterid").value;
      
      location.href = dst;
  
    }

</script>

<div>

<form class="form-inline" role="form" onsubmit="return false;">

<input type="text" id="datefrom" class="form-control datepicker" value="{{ datefrom }}" placeholder="{{ 'date from' | trans}}">
<input type="text" id="dateto" class="form-control datepicker" value="{{ dateto }}"  placeholder="{{ 'date to' | trans}}">

<select id="meterid" class="form-control">
  {% for meterlist in meterlist %}

  <option value="{{ meterlist.id }}" {% if meterid == meterlist.id %} selected {% endif %} >{{ meterlist.metername | trans }}</option>

  {% endfor %}
</select>

<button type="submit" class = "btn btn-default" onclick="return display()">{{ "Search" | trans }}</button>

</form>

<br>

<br>

<div id="barChart" class="epoch" style="height: 250px"></div>

<script>
(function() {

var barChartData = [
  { label: "Series 1",
   values: [
  {% for waterlogdaily in waterlogdailys %}
     {x: {{ waterlogdaily.daterx | date("U")}}, y: {{ waterlogdaily.consumption }}},
  {% endfor %}
   ]
  }
];

  $('#barChart').epoch({
     type: 'bar',
     data: barChartData,
     axes: ['left', 'bottom'],
     ticks: { left: 5 },
     tickFormats: { bottom:
       function(d) {
         var date = new Date(d*1000);

         var date_month  = date.getMonth() + 1;
         var date_day    = date.getDate();
         var date_hour   = date.getHours();
         var date_minute = date.getMinutes();

         return date_month + '-' + date_day + ' ' + date_hour + ':' + date_minute;
       }
     }
  });
})();

</script>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ 'Received date' | trans }}</th>
            <th>{{ 'Consumption' | trans }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
  {% for waterlogdaily in waterlogdailys %}
          <tr>
            <td>{{ waterlogdaily.daterx | date("Y-m-d H:i:s") }}</td>
            <td>{{ waterlogdaily.consumption }}</td>
          </tr>
  {% else %}
    <p>{{ 'No record in this table' | trans }}.</p>
  {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% endblock %}
