{% extends "LljmHomeBundle::layout.html.twig" %}

{% block title %}
  Ventilation - {{ parent() }}
{% endblock %}

   {% block body %}

<div id="header" class="hero-unit">
  <h1>{{'Ventilation management' | trans }}</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{{ 'Zone name' | trans }}</th>
                  <th>{{ 'Schedule' | trans }}</th>
                  <th>{{ 'Status' | trans }}</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
        {% for zoneventilation in zoneventilations %}
                <tr>
                  <td>{{ zoneventilation.zonename | trans }}</td>
                  <td>{% for i in 0..23%}
                    *{{ i }}
                    {% endfor %}
                    {{ zoneventilation.ventilationschedule }}</td>
                  <td>{% if zoneventilation.ventilationstatus == 1 %}
                      <img src="{{ asset('bundles/lljmhome/images/widgets/button/on-button.png') }}" style="width:25px;height:25px;">
                      {% else %}
                      <img src="{{ asset('bundles/lljmhome/images/widgets/button/off-button.png') }}" style="width:25px;height:25px;">
                      {% endif %}</td>
                <td><button type="submit" class="btn glyphicon glyphicon-pencil" onclick="location.href = '{{ path('home_action_ventilationedit', {'id': zoneventilation.id}) }}'"></button></td>
                </tr>
        {% else %}
          <p>{{ 'No record in this table' | trans }}.</p>
        {% endfor %}
              </tbody>
            </table>
          </div>



          {% endblock %}